/* @import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap'); */

@font-face {
  font-family: myFont;
  src: url('./addendums/SuezOne-Regular.ttf');
}


*{
  margin: 0;
  padding: 0;
}

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  font-family: myFont, serif;
  background: #1d1c1c;
  /* font-family: myFont, cursive; */
}

.text-center{
  text-align: center;
}

.text-yellow{
  color: rgb(243, 243, 39);
}